button {
    width: 200px;
    height: 50px;
    font-size: larger;
}

img {
    height: 100px;
    width: auto;
}
body {
    background-image: url("assets/grass.gif") ;
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}